1-What are data structures, and why are they important

 - Data structure are specialized formats for organizing, storing and accessing
  collections of data . They provide sfficient ways to manage imfomation based on its characterstics and intended use.
  They are important as they help in choosing the right data structure significantly impacts the efficiency and performance of your program , simplify data manipulation, optimize searching and sorting operations and conserve memory usage.


2-Explain the difference between mutable and immutable data types with examples

 - Mutable datatypes are those which value can be changed after they are created . Examples are list etc.
 Immutable data types are those which value can not be changed after they are created . Examples are Tuples etc


3-What are the main differences between lists and tuples in Python

 -  Lists are mutables collections of data their values can be changed
 Tuples are immutable collections of data their values cannot be changed


4-Describe how dictionaries store data

 -  Dictionary are data structure that stores data as key value pair . They stores data in curly brackets{} . They have key in place of index and to access any value we use key inplace of index . If we iterate over dictionary the item will be returned in the order they were added.


5-Why might you use a set instead of a list in Python ?

 -  We use aset instead of a list in python beacuse the order doesn't matter and duplicate entries are not allowed . Sets are useful for checking membership(if an iem exixts) or finding the intersection / difference between sets .


6-What is a string in Python, and how is it different from a list?

 -  Strings are the characters arranged in an unchangeable order. Consider waiting a sentence, a paragraph or a piece of material. String is different from a list as each character in a string can be accessed by its index or position , substrings can be extracted using slicing can be joined together and altered using a variety of technique(find, replace,etc)


7-How do tuples ensure data integrity in Python ?

 -  Tuples in pyton ensure integrity in python by immutability, hashable, structured data and performance.


8-What is a hash table, and how does it relate to dictionaries in Python?

 -  A hash funtion generates a unique integer (hash code) for each key . It is related to dictionaries in python as a hash table is data structure that's implemented as a dictionary. A hash table stores key-value pairs, where the key is generated by a hash function.


9-Can lists contain different data types in Python?

 -  Yes, list can contain different data types in python like numbers, strings and even other lists.


10- Explain why strings are immutable in Python?

 -  Strings are immutable in python because they are arranged in an unchangable order as writing a sentence , a paragraph or a piece of material can't be changed same goes to this also .


11-What advantages do dictionaries offer over lists for certain tasks?

 -  Advantages that dictionaries offer over lists for certain tasks are unorderd collections, unique key value pairs, flexible data.


12-Describe a scenario where using a tuple would be preferable over a list ?

 -  Using tuple would be preferable over a list as it provide a secure way to store data that shouldn't be modified. Imagine a museum exhibit with artifacts in a fixed display case. These artifacts (data) are fixed in their place (immutable)  and cannot be rearranged or removed, ensuring their preservation.


13-How do sets handle duplicate values in Python?

 -  Items of sets are immutable (unchangable), do not duplicate values in python .


 14-How does the “in” keyword work differently for lists and dictionaries?

  -  List:- When we use the "in" keyword with a list,it cheks whether a specific value exists as a element in that list.
  Dictionaries:- In dictonary "in" keyword with a dictionary, not the value. this means that it will return true if the key id found, regardless of the associated value.
  


15-Can you modify the elements of a tuple? Explain why or why not ?      

 -  No, we cannot modify the elements of a tuple beacuse tuples are immutable so once created cannot be changed .


16-What is a nested dictionary, and give an example of its use case?

 -  Dictionary inside a dictionary is known as nested dictionary . The example of use case is employee records in which record is oraganise by depatment , with each employee details in a nested list .


17-Describe the time complexity of accessing elements in a dictionary?

 -  Time complexity is a measure of how much time it take to run an algorithim. In the case of dictionary the time complexity depends on the size of the dictionary and the operation being performed.


18-In what situations are lists preferred over dictionaries?

 -  Liats preferred over dictionaries as lists perform faster for ordered operations like sorting as compared to dictionary.


 19-Why are dictionaries considered unordered, and how does that affect data retrieval?

  -  Dictionaries are considred unordered beacuse elements are not sorted in a specific order. This does not effect data retrival beacsue there are key to each value which help in the retrival of data from the dictionary.


20-Explain the difference between a list and a dictionary in terms of data retrieval.

 -  A lisat is an ordered collection of items, whereas a  dictionary is an unordered data collection data collection in  a key : value pair. Elements from the list can be accessed using the index , while the elements of the dictionary can be accesses using keys.

In [ ]:
#1-Write a code to create a string with your name and print it?
a = "Ajay"
a

'Ajay'

In [ ]:
#2-Write a code to find the length of the string "Hello World" ?
s = "Hello World"
len(s)

11

In [ ]:
#3-Write a code to slice the first 3 characters from the string "Python Programming"?
a = "Python Programming"
a[0:3]

'Pyt'

In [ ]:
#4-Write a code to convert the string "hello" to uppercase?
text = "hello"
text.upper()

'HELLO'

In [ ]:
#5-Write a code to replace the word "apple" with "orange" in the string "I like apple"?
s = "I like apple"
s.replace("apple","orange")

'I like orange'

In [ ]:
#6-Write a code to create a list with numbers 1 to 5 and print it?
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [ ]:
#7-Write a code to append the number 10 to the list [1, 2, 3, 4]?
s = [1,2,3,4]
s.append (10)
s

[1, 2, 3, 4, 10]

In [ ]:
#8-Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
a = [1,2,3,4,5]
a.remove (3)
a

[1, 2, 4, 5]

In [ ]:
#9-Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
a = ["a","b","c","d"]
a [1]

'b'

In [ ]:
#10-Write a code to reverse the list [10, 20, 30, 40, 50].
a = [10,20,30,40,50]
a.reverse ()
a

[50, 40, 30, 20, 10]

In [ ]:
#11-Write a code to create a tuple with the elements 10, 20, 30 and print it.
t = (10,20,30,)
t

(10, 20, 30)

In [ ]:
#12- Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
t = ("apple","banana","cherry")
t[0]

'apple'

In [ ]:
#13- Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
t = (1,2,3,2,4,2)
t.count(2)

3

In [ ]:
#14-Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t = ("dog","cat","rabbit")
t.index("cat")

1

In [ ]:
#15- Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
t = ("apple","oranges","banana")
"banana" in t

True

In [ ]:
#16- Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
s = {1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [ ]:
#17-Write a code to add the element 6 to the set {1, 2, 3, 4}.
s = {1,2,3,4}
s.add(6)
s

{1, 2, 3, 4, 6}

In [2]:
#18-Write a code to create a tuple with the elements 10, 20, 30 and print it
t = (10,20,30)
t

(10, 20, 30)

In [4]:
#19- Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
t = ("apple","banana","cherry")
t[0]

'apple'

In [5]:
#20-Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
t = (1,2,3,2,4,2)
t.count(2)

3

In [6]:
#21-Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t = ("dog","cat","rabbit")
t.index("cat")

1

In [7]:
#22-Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
t = ("apple","oranges","banana")
"banana" in t

True

In [8]:
#23-Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
s = {1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [9]:
#24- Write a code to add the element 6 to the set {1, 2, 3, 4}.
s = {1,2,3,4}
s.add(6)
s

{1, 2, 3, 4, 6}